In [1]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\point\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: pandas>=1.3.0 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (4.3.7)
Requirement already satisfied: pytz>=2022.5 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (3.19.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi<0.14,>=0.7 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Requirement already satisfied: websockets>=13.0 in c:\users\point\anaconda3\lib\site-packages (from yfinance) (16.0)
Requirement already satisfied: cffi>=1.12.0 in c:\users\point\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\point\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2025.6.15)
Requirement already satisfied: soupsieve>1.2 in c:\users\point\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: pycparser in c:\users\point\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.21)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\point\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\point\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\point\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\point\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\point\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\point\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import yfinance as yf
import pandas as pd

In [8]:
tickers=["AAPL","MSFT","GOOGl","AMZN"]

#Extracting Data
raw_data=[]
for t in tickers:
    company=yf.Ticker(t)
    info=company.info

    raw_data.append({"Ticker":t,
    "Company_Name":info.get("longName"),
    "Sector":info.get("sector"),
    "Market_Cap":info.get("marketCap"),
    "PE_Ratio":info.get("trailingPE"),
    "Revenue_Growth":info.get("revenueGrowth"),
    "Profit_Margin":info.get("profitMargins"),
    "Operating_margin":info.get("operatingMargins"),
    "ROE":info.get("returnOnEquity"),
    "Current_Ratio":info.get("currentRatio"),
    "Debt_to_Equity":info.get("debtToEquity"),
    "Rev_Per_Employee":info.get("revenuePerEmployee"),
    "Total_Revenue":info.get("totalRevenue"),
    "Employee_Count":info.get("fullTimeEmployees")})

In [9]:
#Data Frame Creation

df=pd.DataFrame(raw_data)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ticker            4 non-null      object
 1   Company_Name      4 non-null      object
 2   Sector            4 non-null      object
 3   Market_Cap        4 non-null      int64
 4   PE_Ratio          4 non-null      float64
 5   Revenue_Growth    4 non-null      float64
 6   Profit_Margin     4 non-null      float64
 7   Operating_margin  4 non-null      float64
 8   ROE               4 non-null      float64
 9   Current_Ratio     4 non-null      float64
 10  Debt_to_Equity    4 non-null      float64
 11  Rev_Per_Employee  4 non-null      float64
 12  Total_Revenue     4 non-null      int64
 13  Employee_Count    4 non-null      int64
dtypes: float64(8), int64(3), object(3)
memory usage: 580.0+ bytes

In [20]:
df.describe(include='all')

,Ticker,Company_Name,Sector,Market_Cap,PE_Ratio,Revenue_Growth,Profit_Margin,Operating_margin,ROE,Current_Ratio,Debt_to_Equity,Rev_Per_Employee,Total_Revenue,Employee_Count,Market_Cap_Billions,Total_Rev_Billions,Rev_Per_Employee_K
count,4,4,4,4.000000e+00,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000e+00,4.000000e+00,4.000000e+00,4.000000,4.000000,4.000000
unique,4,4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,AAPL,Apple Inc.,Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,3.509227e+12,33.025861,0.139000,0.264795,0.305223,0.658600,1.262500,60.098500,1.565197e+06,4.466948e+11,5.405418e+05,3509.226832,446.694760,1565.196948
std,NaN,NaN,NaN,6.398717e+11,2.009729,0.044907,0.108951,0.154587,0.705297,0.389322,62.969526,9.031601e+05,1.711720e+11,6.921093e+05,639.871660,171.172032,903.160121
min,NaN,NaN,NaN,2.597829e+12,30.120700,0.079000,0.110630,0.110570,0.243270,0.893000,11.424000,4.381052e+05,2.938120e+11,1.660000e+05,2597.829214,293.812011,438.105211
25%,NaN,NaN,NaN,3.334484e+12,32.456735,0.120250,0.229520,0.256483,0.302625,0.980000,27.721500,1.076013e+06,3.625600e+11,1.841252e+05,3334.484197,362.560004,1076.013181
50%,NaN,NaN,NaN,3.684642e+12,33.803703,0.146500,0.295740,0.310795,0.338455,1.205000,38.279500,1.657844e+06,4.008185e+11,2.090835e+05,3684.641931,400.818504,1657.844286
75%,NaN,NaN,NaN,3.859385e+12,34.372830,0.165250,0.331015,0.359535,0.694430,1.487500,70.656500,2.147028e+06,4.849533e+11,5.655000e+05,3859.384566,484.953260,2147.028053
max,NaN,NaN,NaN,4.069794e+12,34.375336,0.184000,0.357070,0.488730,1.714220,1.747000,152.411000,2.506994e+06,6.913300e+11,1.578000e+06,4069.794251,691.330023,2506.994009

In [1]:
df.isnull().sum()

NameError: name 'df' is not defined

In [11]:
#Counting Revenue Per Employee Manually as it has Null Value

df['Rev_Per_Employee']=df['Total_Revenue']/df['Employee_Count']

In [15]:
#Converting Units for Easier Understanding
df['Market_Cap_Billions']=df['Market_Cap']/1_000_000_000
df['Total_Rev_Billions']=df['Total_Revenue']/1_000_000_000
df['Rev_Per_Employee_K']=df['Rev_Per_Employee']/1_000
df['Employee_Count']=df['Employee_Count'].fillna(0).astype(int)

In [23]:
df=df.round({'Market_Cap_Billions':2,'Total_Rev_Billions':2,'Rev_Per_Employee_K':2,'Profit_Margin':4,'PE_Ratio':2,'Revenue_Growth':4})

In [30]:
df=df.drop(columns=['Market_Cap','Total_Revenue','Rev_Per_Employee'])

In [31]:
print("Cleaned Buisness Data:")
print(df.head())

Cleaned Buisness Data:
  Ticker           Company_Name                  Sector  PE_Ratio  \
0   AAPL             Apple Inc.              Technology     34.38
1   MSFT  Microsoft Corporation              Technology     30.12
2  GOOGl          Alphabet Inc.  Communication Services     33.24
3   AMZN       Amazon.com, Inc.       Consumer Cyclical     34.37

   Revenue_Growth  Profit_Margin  Operating_margin      ROE  Current_Ratio  \
0           0.079         0.2692           0.31647  1.71422          0.893
1           0.184         0.3571           0.48873  0.32241          1.401
2           0.159         0.3223           0.30512  0.35450          1.747
3           0.134         0.1106           0.11057  0.24327          1.009

   Debt_to_Equity  Employee_Count  Market_Cap_Billions  Total_Rev_Billions  \
0         152.411          166000              3789.25              416.16
1          33.154          228000              3580.04              293.81
2          11.424          190167              4069.79              385.48
3          43.405         1578000              2597.83              691.33

   Rev_Per_Employee_K
0             2506.99
1             1288.65
2             2027.04
3              438.11

In [33]:
df.to_csv("competitor_analysis_cleaned.csv",index=False)